body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

input {
    padding: 8px;
    margin-right: 10px;
}

button {
    padding: 8px 15px;
    background-color: #01db1a;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 16px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: center;
}

button.delete {
    background-color: red;
}

button.edit {
    background-color: blue;
}
